body {
  background-color: #edebfd;
  font-family: "Montserrat", sans-serif !important;
  /* z-index: 0; */
}

table {
  margin: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child {
  background-color: #e8edff;
}

td {
  padding: 3px;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 3px;
  z-index: 0;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 20px;
}
label {
  font-weight: 500;
}

input {
  margin: 12px 0 !important;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #dddfe3;
}

input:focus {
  outline: 3px solid #2d7eff;
}

.edit-btn {
  color: #0088ff;
  background-color: #fff;
  border: none;
}

.delete-btn {
  color: red;
  background-color: #fff;
  border: none;
}
.first-h2 {
  margin: auto;
  margin-bottom: 20px;
}
.section-center .clear-div h2 {
  margin-bottom: 20px;
}

.bold {
  font-weight: 700;
}

.clear-div {
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clear-btn {
  height: 40px;
  width: 100px;
  border: none;
  padding: 6px 1px;
  border-radius: 20px;
  background-color: burlywood;
  font-weight: 500;
}
.clear-btn:hover {
  background-color: red;
  color: #fff;
}

.submit-btn {
  margin: auto;
  height: 40px;
  width: 400px;
  color: white;
  background-color: #2d7eff;
  border: 5px solid transparent;
  transition: 0.2s ease;
  border-radius: 50px;
  margin-top: 10px;
}

.submit-btn:hover {
  color: #2d7eff;
  background-color: white;
  transform: scale(1.1);
  border: 1px solid #2d7eff;
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
}

.alert-success {
  color: #155724;
  background: #d4edda;
}

.modalBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(237, 235, 253, 0.8);
  /* opacity: 0.7; */
  z-index: 1;
  justify-content: center;
}

.modalContainer {
  width: 500px;
  height: 300px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 3;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
}

.modalContainer .title h2 {
  font-weight: 800;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
